# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/

# Environments
.env
.venv
env/
venv/
ENV/

# Database files & local test outputs
*.db
*.sqlite
*.sqlite3
media_reducer.db
source/
dest/

# IDE / Editor files
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
